body {
  margin: 0px;
  background-color: #003322;
}

#mainContainer {
  height:100%;
  width: 100%;
  background: linear-gradient(to bottom, #66ffcc 30%, #003322 100%);
  position: absolute;
  display: inline-block;
}

a:link{
  color:white;
}

h1:hover{
  color:red;
}


#rowOne{
  background-image: url(code.jpg);
  height: 30%;
  padding-top: 50vmin;
  margin-top: -55vmin;
  background-position: center;
  background-size: auto;
  position: relative;
}


#rowOnetxt {
  text-align: center;
  margin-left: 15%;
  position: absolute;
  margin-top: 4vmin;
  color: white;
  font-size: 5vmin;
  font-family: FreeMono, monospace;
}

  #rowTwo{
  background-image: url(dirtwhite.jpg);
  width: 100vmin;
  height: 100%;
  background-color: black;
  margin-top: 10vmin;
  margin-bottom: 10vmin;
  margin-left: 20%;
  background-position: center;
  background-size: cover;
  position: absolute;
  border-style: solid;
  border-width: 5px;
  }

  #rowTwotxt{
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 400px;
    font-family:Gill Sans, sans-serif;
  }

  #rowTwoPix{
    background-image: url(welcome.jpg);
    width: 300px;
    height: 600px;
    left: 500px;
    top: 150px;
    background-position: right;
    background-size: contain;
    position: absolute;
    display: inline;
    border-style: solid;
    border-color: #660033;
    border-width: 5px;
  }
